@font-face {
  font-family: NunitoSans-Regular;
  src: url("/fonts/Nunito/NunitoSans-Regular.ttf");
}

@font-face {
  font-family: NunitoSans-Bold;
  src: url("/fonts/Nunito/NunitoSans-Bold.ttf");
}

@font-face {
  font-family: Exo2-ExtraLight;
  src: url("/fonts/Exo 2/static/Exo2-ExtraLight.ttf");
}

@font-face {
  font-family: Exo-Regular;
  src: url("/fonts/Exo/static/Exo-Regular.ttf");
}

@font-face {
  font-family: Exo2-Light;
  src: url("/fonts/Exo 2/static/Exo2-Light.ttf");
}

@font-face {
  font-family: Exo2-ExtraLight;
  src: url("/fonts/Exo 2/static/Exo2-ExtraLight.ttf");
}

@font-face {
  font-family: Exo2-ExtraBold;
  src: url("/fonts/Exo 2/static/Exo2-ExtraBold.ttf");
}

@font-face {
  font-family: Exo2-Regular;
  src: url("/fonts/Exo 2/static/Exo2-Regular.ttf");
}

@font-face {
  font-family: Exo2-Bold;
  src: url("/fonts/Exo 2/static/Exo2-Bold.ttf");
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/images/neon.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
}

@media screen and (max-width: 1400px) {
  body {
    min-height: 150vh;
  }
}

#header {
  position: relative;
  display: flex;
  justify-content: center;

  top: 44px;
}

a {
  position: relative;

  margin-left: 3%;
  margin-right: 3%;

  text-decoration: none;

  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 31px;
  line-height: 37px;
  display: flex;
  align-items: center;
  text-align: center;

  color: rgba(255, 255, 255, 0.3);
}

a:hover {
  color: aqua;
  text-shadow: 0px 00px 10px aqua;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

h1 {
  margin-bottom: 1px;
  margin-top: 10px;
  font-family: Exo-Regular, sans-serif;
  font-style: normal;
  font-weight: 1;
  font-size: 31px;
  line-height: 41px;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

hr {
  position: relative;

  margin: auto;
  width: 85%;
  border: 1px solid #ffffff;
}

@media only screen and (max-width: 1100px) {
  .hide {
    display: none;
  }
}
