<header id="header">
    <a href="/dashboard" id="dashboard">Dashboard</a>
    <a href="/products" id="products">Products</a>
    <a href="/earnings" id="earnings">Earnings</a>
    <a href="/signout" id="settings">Sign Out</a>
</header>